html {
    /* text-align: center; */

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    word-spacing: normal;
    box-sizing: border-box;
    
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    /* justify-content: center; */

}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  border-radius: 25px;
  box-shadow: 2px 2px 1.5px rgba(0,0,0,0.3);
} 

/* Links inside the navbar */
.navbar a {
  float: left;
  font-family: 'Lora', serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Lora', serif;/* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a  background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



 /* -----------introduction----------- */
.intro {
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}
.intro img { 
    float: left;
    border-radius: 75%; 
    width: 150px;
    height: 150px;
}

 /* -----------declaration------------- */
.declaration {
    background-color: aquamarine;
    padding-bottom: 20px;
    justify-content: left;
    border-radius: 25px;
    font-family: 'Lora', serif;
    font-size: 25px;
    line-height: 2em;

}
.declaration h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}



 /* -----------abstract---------------- */
.abstract {
    background-color: #00B4D8;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 25px;
    font-family: 'Lora', serif;
    font-size: 25px;
    line-height: 2em;
}
.abstract h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}


 /* -----------acknowledgement------------ */
.ack {
    background-color: #F8AD9D;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 25px;
    font-family: 'Lora', serif;
    font-size: 25px;
    line-height: 2em;
}
.ack h3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-size-adjust: 15px; */
}
 /* -----------dedication----------------- */
 .Dedication {
    background-color: #463F3A;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 25px;
    font-family: 'Lora', serif;
    font-size: 25px;
    line-height: 2em;
    text-align: center;
 }
 .Dedication h3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 /* ---footer--- */
 .footer {
    padding-top: 10px;
    justify-content: center;

 }

 .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 25px;
}
.footer li {
    float: left;

}
.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;

}
.footer li a:hover {
    background-color: #111111;
}